/* Custom CSS ontop of bootstrap */

[data-bs-theme=dark] {
  --bs-form-control-color: #8b8c8c;
}

.form-control, .form-control:focus,
.form-select, .form-select:focus {
  color: var(--bs-form-control-color);
  padding: .375rem .75rem;
}
[data-bs-theme=dark] .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237b8ab8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
