{% extends 'base.html' %}
{% block content %}
<div class="container p-5">
  <h1>Order</h1>
  <div class="container">
    <form action="{{ url_for('order.order')}}" method="post" enctype="multipart/form-data">
      {% for field in form %}
        {% if field.id != "csrf_token" %}
          {% if field.errors %}
            {{ field.label(class="form-label mt-4 is-invalid") }}<br>
          {% else %}
            {{ field.label(class="form-label mt-4") }}<br>
          {% endif %}
        {% endif %}
          {{ field }}
        {% if field.errors %}
        <div class="invalid-feedback">
          <ul class="errors">
            {% for error in field.errors %}
            <li>
              {{ error }}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if field.id == "stl_models" %}
          <div class="container d-flex flex-column align-items-center">
            <div id="stl-viewer" style="height: 600px; width: 1200px"></div>
          </div>
        {% endif %}
      {% endfor %}
      <button class="btn mt-4">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
