{% extends 'base.html' %}

{% block content %}
  <h1>Dashboard</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Profile
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Orders
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Settings
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Log out
          </li>
        </ul>
      </div>
      <div class="col">
        <div class="card p-4">
          <h2>Welcome to your dashboard, {{ g.user.firstname | default("User", true) }}!</h2>
          <div class="row">
            <div class="col-lg p-1">
              <h3>Your orders</h3>
              <div class="list-group">
                <div class="list-group-item d-flex justify-content-between">
                  Order 1
                  <span class="badge bg-info rounded-pill">In progress</span>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  Order 2
                  <span class="badge bg-success rounded-pill">Completed</span>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  Order 3
                  <span class="badge bg-secondary-subtle rounded-pill">Cancelled</span>
                </div>
              </div>
            </div>
            <div class="col-lg p-1 d-flex flex-column justify-content-end text-center">
              <button class="btn btn-primary m-2">
                Order new
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
